/* Write your code here. */
.thumbnail-item {
  margin: 10px;
}

.thumbnail-button {
  border: none;
  background: none;
  padding: 0;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.thumbnail-image.active-thumbnail {
  opacity: 1;
}
